<?xml version = "1.0"?>
<launch>
    <node = pkg = "roomba_500driver_meiji" name = "main500" type "main500"/>
    <node = pkg = "first_challenge_marika" name = "first_challenge_marika" type = "first_challenge_marika">
        <param name "hz_" value = "10"/>
        <param name "distance_" value = "0.5"/>

    </node>

    </launch>

